@font-face {
    font-family: 'FreightTextBook';
    src: url('FreightTextBook.eot');
    src: url('FreightTextBook.eot?#iefix') format('embedded-opentype'),
        url('FreightTextBook.woff2') format('woff2'),
        url('FreightTextBook.woff') format('woff'),
        url('FreightTextBook.ttf') format('truetype'),
        url('FreightTextBook.svg#FreightTextBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FreightTextBlack';
    src: url('FreightTextBlack.eot');
    src: url('FreightTextBlack.eot?#iefix') format('embedded-opentype'),
        url('FreightTextBlack.woff2') format('woff2'),
        url('FreightTextBlack.woff') format('woff'),
        url('FreightTextBlack.ttf') format('truetype'),
        url('FreightTextBlack.svg#FreightTextBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'FreightTextBlackSC';
    src: url('FreightTextBlackSC.eot');
    src: url('FreightTextBlackSC.eot?#iefix') format('embedded-opentype'),
        url('FreightTextBlackSC.woff2') format('woff2'),
        url('FreightTextBlackSC.woff') format('woff'),
        url('FreightTextBlackSC.ttf') format('truetype'),
        url('FreightTextBlackSC.svg#FreightTextBlackSC') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'FreightTextLight';
    src: url('FreightTextLight.eot');
    src: url('FreightTextLight.eot?#iefix') format('embedded-opentype'),
        url('FreightTextLight.woff2') format('woff2'),
        url('FreightTextLight.woff') format('woff'),
        url('FreightTextLight.ttf') format('truetype'),
        url('FreightTextLight.svg#FreightTextLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FreightTextBlackItalicSC';
    src: url('FreightTextBlackItalicSC.eot');
    src: url('FreightTextBlackItalicSC.eot?#iefix') format('embedded-opentype'),
        url('FreightTextBlackItalicSC.woff2') format('woff2'),
        url('FreightTextBlackItalicSC.woff') format('woff'),
        url('FreightTextBlackItalicSC.ttf') format('truetype'),
        url('FreightTextBlackItalicSC.svg#FreightTextBlackItalicSC') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'FreightTextLightItalic';
    src: url('FreightTextLightItalic.eot');
    src: url('FreightTextLightItalic.eot?#iefix') format('embedded-opentype'),
        url('FreightTextLightItalic.woff2') format('woff2'),
        url('FreightTextLightItalic.woff') format('woff'),
        url('FreightTextLightItalic.ttf') format('truetype'),
        url('FreightTextLightItalic.svg#FreightTextLightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'FreightTextBookItalic';
    src: url('FreightTextBookItalic.eot');
    src: url('FreightTextBookItalic.eot?#iefix') format('embedded-opentype'),
        url('FreightTextBookItalic.woff2') format('woff2'),
        url('FreightTextBookItalic.woff') format('woff'),
        url('FreightTextBookItalic.ttf') format('truetype'),
        url('FreightTextBookItalic.svg#FreightTextBookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FreightTextBold';
    src: url('FreightTextBold.eot');
    src: url('FreightTextBold.eot?#iefix') format('embedded-opentype'),
        url('FreightTextBold.woff2') format('woff2'),
        url('FreightTextBold.woff') format('woff'),
        url('FreightTextBold.ttf') format('truetype'),
        url('FreightTextBold.svg#FreightTextBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FreightTextMediumSC';
    src: url('FreightTextMediumSC.eot');
    src: url('FreightTextMediumSC.eot?#iefix') format('embedded-opentype'),
        url('FreightTextMediumSC.woff2') format('woff2'),
        url('FreightTextMediumSC.woff') format('woff'),
        url('FreightTextMediumSC.ttf') format('truetype'),
        url('FreightTextMediumSC.svg#FreightTextMediumSC') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FreightTextMediumItalicSC';
    src: url('FreightTextMediumItalicSC.eot');
    src: url('FreightTextMediumItalicSC.eot?#iefix') format('embedded-opentype'),
        url('FreightTextMediumItalicSC.woff2') format('woff2'),
        url('FreightTextMediumItalicSC.woff') format('woff'),
        url('FreightTextMediumItalicSC.ttf') format('truetype'),
        url('FreightTextMediumItalicSC.svg#FreightTextMediumItalicSC') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'FreightTextLightItalicSC';
    src: url('FreightTextLightItalicSC.eot');
    src: url('FreightTextLightItalicSC.eot?#iefix') format('embedded-opentype'),
        url('FreightTextLightItalicSC.woff2') format('woff2'),
        url('FreightTextLightItalicSC.woff') format('woff'),
        url('FreightTextLightItalicSC.ttf') format('truetype'),
        url('FreightTextLightItalicSC.svg#FreightTextLightItalicSC') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'FreightTextBoldSC';
    src: url('FreightTextBoldSC.eot');
    src: url('FreightTextBoldSC.eot?#iefix') format('embedded-opentype'),
        url('FreightTextBoldSC.woff2') format('woff2'),
        url('FreightTextBoldSC.woff') format('woff'),
        url('FreightTextBoldSC.ttf') format('truetype'),
        url('FreightTextBoldSC.svg#FreightTextBoldSC') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FreightTextBookSC';
    src: url('FreightTextBookSC.eot');
    src: url('FreightTextBookSC.eot?#iefix') format('embedded-opentype'),
        url('FreightTextBookSC.woff2') format('woff2'),
        url('FreightTextBookSC.woff') format('woff'),
        url('FreightTextBookSC.ttf') format('truetype'),
        url('FreightTextBookSC.svg#FreightTextBookSC') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FreightTextBookItalicSC';
    src: url('FreightTextBookItalicSC.eot');
    src: url('FreightTextBookItalicSC.eot?#iefix') format('embedded-opentype'),
        url('FreightTextBookItalicSC.woff2') format('woff2'),
        url('FreightTextBookItalicSC.woff') format('woff'),
        url('FreightTextBookItalicSC.ttf') format('truetype'),
        url('FreightTextBookItalicSC.svg#FreightTextBookItalicSC') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FreightTextMediumItalic';
    src: url('FreightTextMediumItalic.eot');
    src: url('FreightTextMediumItalic.eot?#iefix') format('embedded-opentype'),
        url('FreightTextMediumItalic.woff2') format('woff2'),
        url('FreightTextMediumItalic.woff') format('woff'),
        url('FreightTextMediumItalic.ttf') format('truetype'),
        url('FreightTextMediumItalic.svg#FreightTextMediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'FreightTextMedium';
    src: url('FreightTextMedium.eot');
    src: url('FreightTextMedium.eot?#iefix') format('embedded-opentype'),
        url('FreightTextMedium.woff2') format('woff2'),
        url('FreightTextMedium.woff') format('woff'),
        url('FreightTextMedium.ttf') format('truetype'),
        url('FreightTextMedium.svg#FreightTextMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FreightTextBoldItalicSC';
    src: url('FreightTextBoldItalicSC.eot');
    src: url('FreightTextBoldItalicSC.eot?#iefix') format('embedded-opentype'),
        url('FreightTextBoldItalicSC.woff2') format('woff2'),
        url('FreightTextBoldItalicSC.woff') format('woff'),
        url('FreightTextBoldItalicSC.ttf') format('truetype'),
        url('FreightTextBoldItalicSC.svg#FreightTextBoldItalicSC') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'FreightTextLightSC';
    src: url('FreightTextLightSC.eot');
    src: url('FreightTextLightSC.eot?#iefix') format('embedded-opentype'),
        url('FreightTextLightSC.woff2') format('woff2'),
        url('FreightTextLightSC.woff') format('woff'),
        url('FreightTextLightSC.ttf') format('truetype'),
        url('FreightTextLightSC.svg#FreightTextLightSC') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FreightTextBoldItalic';
    src: url('FreightTextBoldItalic.eot');
    src: url('FreightTextBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('FreightTextBoldItalic.woff2') format('woff2'),
        url('FreightTextBoldItalic.woff') format('woff'),
        url('FreightTextBoldItalic.ttf') format('truetype'),
        url('FreightTextBoldItalic.svg#FreightTextBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'FreightTextBlackItalic';
    src: url('FreightTextBlackItalic.eot');
    src: url('FreightTextBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('FreightTextBlackItalic.woff2') format('woff2'),
        url('FreightTextBlackItalic.woff') format('woff'),
        url('FreightTextBlackItalic.ttf') format('truetype'),
        url('FreightTextBlackItalic.svg#FreightTextBlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

